<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/images/1.svg" alt="Logo" class="img-responsive"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Car Insurance</a></li>
        <li><a href="#">Bike Insurance</a></li>
        <li><a href="#">Travel Insurance</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mobile Insurance <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Claims</a></li>
            <li><a href="#">Plans</a></li>
            <li><a href="#">Buy now</a></li>
          </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a class="highlight" href="#">Make Claim</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:+180023265331">1800-232-65331</a></li>
      </ul>
    </div>
  </div>
</nav>